<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Administrator Home Page</title>
      <link rel="stylesheet" href="../static/styles/styles.css"></link>
   
</head>
<body>
<div class= "wrapper">
<img src="../static/images/audioDB.png" alt="picture">
</div>
    <h1>Welcome: Administrator for Audio dB    <a href="/logout"> Logout</a></h1>
    
    <h2><a href="/adminInventory">Product Inventory</a></h2>
    <h4>Inventory will allow you to modify the current items available in the store.</h4>
    
    <h2><a href="/adminOrders">Order Management</a></h2>
    <h4>Manage customer orders.</h4>
    
    
    <!-- NOT MANAGING CUSTOMERS
      <h2><a href="/AdminCustomerManager">Manage Customers</a></h2>
    <p>Manage customer info. </p>
    
     -->
  



</body>
</html>