<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Edit the Item</title>
         <link rel="stylesheet" href="../static/styles/styles.css"></link>
</head>

<body>
<div class= "wrapper">
<img src="../static/images/audioDB.png" alt="picture">
</div>

    <h3>Enter The Product Details Here!</h3>
 
 	<form th:action="@{/adminEditMusic}" th:object="${music}" method="post">
        <input type="hidden" name="id" th:value="${music.id}">
    	<input type="hidden" name="album" th:value="${music.id}">
    	
    	<label>Name: </label>
    	<input type="text" name="name" th:value="${music.name}"> <br />
    	
    	<label>Track Number: </label>
    	<input type="number" name="trackNumber" th:value="${music.trackNumber}"> <br />
    	
    	<label>Price: </label>
    	<input type="number" name="price" th:value="${music.price}"> <br />
    	
    	<button type="submit">Edit</button>
    </form>

<body>
</html>