<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Checkout</title>
	 <link rel="stylesheet" href="../static/styles/styles.css"></link>
   
</head>
<body>

<div class= "wrapper">
<img src="../static/images/audioDB.png" alt="picture">
</div>

	<h2>Checkout</h2>

	<p>Your total is <strong th:text="${total}"></strong></p>

	<form action="buy" method="post" th:object="${user}">	
		<h4>Billing Address</h4>
		<input type="text" th:field="*{creditcard}" required>
		
		<input type="submit" value="Buy">
	</form>
</body>
</html>