<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Audio dB Register a New User:</title>
    <link rel="stylesheet" href="../static/styles/styles.css"></link>
</head>

<div class= "wrapper">
<img src="../static/images/audioDB.png" alt="picture">
</div>

<body>

		<div class="registerCust">
		<form th:action="@{/save_user}" th:object="${user}" method="post">
			<h2>Register New Customer</h2>
			<h5>Please fill in your Information Below!</h5>
			<br>
			<h5>Basic Info</h5>
			<table style="width: 100%">
				
				<tr>
					<td>User Name</td>
					<td><input type="text" th:name="username" th:value="${user.username}" required /></td>
				</tr>
				
				<tr>
					<td>Password</td>
					<td><input type="password" th:name="password" th:value="${user.password}" required /></td>
				</tr>
				
				<tr>
					<td>Email</td>
					<td><input type="email" th:name="email" th:value="${user.email}" required /></td>
				</tr>
			
				</table>
			
			</div>
			
			<div class="billing">
				
				<h5>Billing Information (optional)</h5>
				<table style="width: 100%">
				
				<tr>
					<td>Credit Card</td>
					<td><input type="number" min="0" max="9999999999999999" th:name="creditcard" th:value="${user.creditcard}" /></td>
				</tr>
				
				<tr>
					<td>Expiration Month</td>
					<td><input type="number" min="0" max="12" th:name="month" th:value="${month}"/></td>
				</tr>
				
				<tr>
					<td>Expiration Year</td>
					<td><input type="number" min="2021" max="2040" th:name="year" th:value="${year}"/></td>
				</tr>
				
				
				
				</table>
			
			</div>
			
			<input type="submit" value="Create new user" />
			
			</form>
		<br><br><a href="/toIndex">Back</a><br>
</body>
</html>