<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Song(s) Found</title>
      <link rel="stylesheet" href="../static/styles/styles.css"></link>
   
</head>
<body>
<div class= "wrapper">
<img src="../static/images/audioDB.png" alt="picture">
</div>
    <h1>Something Here  <a href="/back"> Logout</a></h1>
    
    
    <h2><a href="/userHomePage">User Home Page</a></h2>
       


</body>
</html>