body {
	background-color: rgb(119, 210, 255);
}

.wrapper{
	margin: 0px;
	width: 1000px;
	
}

.logo{
	
	width: 300px;
	
}


.registerCust{
	margin: 0px;
	width: 680px;
	
}

.billing{
	margin: 0px;
	width: 525px;
	
}